* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 980px;
  background-color: black;
  position: relative;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

header {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

header .pc_header {
  padding: 40px 0;
}

header .pc_header .logo_wrap {
  float: left;
}

header .pc_header .logo_wrap a img {
  width: 145px;
}

header .pc_header .menu_wrap {
  float: right;
  margin: 3px 0;
}

header .pc_header .menu_wrap ul li {
  display: inline-block;
  margin-left: 11px;
}

header .pc_header .menu_wrap ul li a {
  color: white;
  font-size: 12px;
}

header .pc_header .lanbtn_wrap {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 0;
}

header .pc_header .lanbtn_wrap ul li {
  display: inline-block;
}

header .pc_header .lanbtn_wrap ul li a {
  display: block;
  color: white;
  font-size: 12px;
  padding: 4px 2px;
  border: 1px solid white;
}

.content {
  margin-top: 40px;
}

.content .event_wrap {
  max-width: 980px;
  height: 490px;
  margin: 0 auto;
  position: relative;
}

.content .event_wrap .left_content {
  width: 490px;
  float: left;
  overflow: hidden;
}

.content .event_wrap .left_content a {
  display: block;
  height: 490px;
}

.content .event_wrap .left_content a img {
  width: 490px;
  height: 490px;
  -webkit-transition: .2s;
  transition: .2s;
}

.content .event_wrap .left_content a:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: .2s;
  transition: .2s;
}

.content .event_wrap .right_content {
  width: 490px;
  float: right;
  font-size: 0;
}

.content .event_wrap .right_content ul li {
  display: inline-block;
  width: 50%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content .event_wrap .right_content ul li a {
  display: block;
  height: 245px;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.content .event_wrap .right_content ul li a p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  color: white;
  padding: 77.5px 0;
}

.content .event_wrap .right_content ul li .nine_bar {
  background-image: url(../img/barw1.jpg);
  background-size: cover;
}

.content .event_wrap .right_content ul li .ten_bar {
  background-image: url(../img/barw2.jpg);
  background-size: cover;
}

.content .event_wrap .right_content ul li .eleven_bar {
  background-image: url(../img/lit.jpg);
  background-size: cover;
}

.content .event_wrap .right_content ul li .twelve_bar {
  background-image: url(../img/barw3.jpg);
  background-size: cover;
}

.content .event_wrap .right_content ul li a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: .2s;
  transition: .2s;
}

.content .event_wrap .right_content ul li a:hover p {
  display: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.content .event_wrap .right_content ul li::before {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.content .more_btn {
  text-align: center;
  padding: 30px 0;
}

.content .more_btn a {
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
}

.content .more_btn a p {
  color: white;
  padding: 8px 16px;
  font-size: 20px;
  letter-spacing: -1px;
}

.content .vip_link {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.content .vip_link a {
  display: block;
}

.content .vip_link a img {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */