* {
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  text-align: center;
  background-color: gray;
  padding: 40px 0;
}

.comment_content {
  max-width: 500px;
  margin: 0 auto;
}

li {
  padding: 20px 0;
}