* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-width: 980px;
  background-color: black;
  position: relative;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

header {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  .pc_header {
    padding: 40px 0;
    .logo_wrap {
      float: left;
      a {
        img {
          width: 145px;
        }
      }
    }
    .menu_wrap {
      float: right;
      margin: 3px 0;
      ul {
        li {
          display: inline-block;
          margin-left: 11px;
          a {
            color: white;
            font-size: 12px;
          }
        }
      }
    }
    .lanbtn_wrap {
      position: absolute;
      top: 10px;
      right: 0;
      font-size: 0;
      ul {
        li {
          display: inline-block;
          a {
            display: block;
            color: white;
            font-size: 12px;
            padding: 4px 2px;
            border: 1px solid white;
          }
        }
      }
    }
  }
}

.content {
  margin-top: 40px;
  .event_wrap{
    max-width: 980px;
    height: 490px;
    margin: 0 auto;
    position: relative;
    .left_content {
      width: 490px;
      float: left;
      overflow: hidden;
      a {
        display: block;
        height: 490px;
        img {
          width: 490px;
          height: 490px;
          transition: .2s;
        }
      }
      a:hover img {
        transform: scale(1.1 , 1.1);
        transition: .2s;
      }
    }
    .right_content {
      width: 490px;
      float: right;
      font-size: 0;
      ul {
        li {
          display: inline-block;
          width: 50%;
          text-align: center;
          position: relative;
          overflow: hidden;
          a {
            display: block;
            height: 245px;
            overflow: hidden;
            transition: .2s;
            p {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              font-size: 30px;
              color: white;
              padding: 77.5px 0;
            }
          }
          .nine_bar {
            background-image: url(../img/barw1.jpg);
            background-size: cover;
          }
          .ten_bar {
            background-image: url(../img/barw2.jpg);
            background-size: cover;
          }
          .eleven_bar {
            background-image: url(../img/lit.jpg);
            background-size: cover;
          }
          .twelve_bar {
            background-image: url(../img/barw3.jpg);
            background-size: cover;
          }
          a:hover {
            transform: scale(1.1,1.1);
            transition: .2s;
          }
          a:hover p{
            display: none;
            transition: .2s;
          }
        }
      li::before {
          background-color: rgba(0,0,0,0.7);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: '';
        }
      }
    }
  }
  .more_btn {
    text-align: center;
    padding: 30px 0;
    a {
      display: inline-block;
      border: 1px solid white;
      border-radius: 4px;
      p {
        color: white;
        padding: 8px 16px;
        font-size: 20px;
        letter-spacing: -1px;
      }
    }
  }

  .vip_link {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    a {
      display: block;
      img {
        vertical-align: middle;
      }
    }
  }
}